<div class="jumbotron">
	<p>This is a fake site to play around with Ruby on Rails.</p>
	<p>Why did I start this service?</p>
	<ul>
		<li>Lack of rendering services currently available</li>
		<li>No community site specifically for snake lovers</li>
		<li>No easy way to share your snake pics</li>
</div>>