<div class="jumbotron">
<table class="table table-condensed">
<tr>
		<th>

			<td>
				Free
			</td>
			<td>
				Premium
			</td>
			<td>
				Premium+
			</td>
		</th>	
	</tr>

	<tr>
		<td><span class="glyphicon glyphicon-picture"></span> Storage:</td>
		<td>50MB</td>
		<td>500MB</td>
		<td>5GB</td>
	</tr>

	<tr>
		<td><span class="glyphicon glyphicon-picture"></span> Renders:</td>
		<td>5 per Month</td>
		<td>15 per Month</td>
		<td>Unlimited</td>
	</tr>

	<tr>
		<td><span class="glyphicon glyphicon-film"></span> Storage:</td>
		<td>150MB</td>
		<td>750MB</td>
		<td>8GB</td>
	</tr>

	<tr>
		<td><span class="glyphicon glyphicon-film"></span> Renders:</td>
		<td>1 per Month</td>
		<td>5 pre Month</td>
		<td>Unlimited</td>
	</tr>


</table>
</div>